@model IList<BookViewModel>;

<h1>Books</h1>

@foreach (var book in Model)
{
    <p>@book.Author, Title: @book.Title, ID: @book.Id, Genre: @book.Genre, Number of Copies: @book.NumberOfCopies</p>
    <a href="/books/bookpage/@book.Id"><button>Edit this book</button></a>
}