@model BookViewModel;

<p>This is the book Page</p>

<p>Book: @Model.Title, Author: @Model.Author, Genre: @Model.Genre, Number of copies: @Model.NumberOfCopies, Id: @Model.Id</p>

<h2>This book is checked out by: [Empty or List]</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Date Loaned</th>
        <th>Date Due</th>
    </tr>

    @foreach (var checkout in Model.CheckedOutBooks)
    {
        <tr>
            <td>@checkout.Member.Name</td>
            <td>@checkout.DateLoaned.ToString("dd/MM/yyyy")</td>
            <td>@checkout.DateDue.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>

<form method="post" asp-controller="Books" asp-action="SubmitEdit">
    <p>Book title</p>
    <input type="text" asp-for="Title" alt="Book Title" required="required">

    <p>Author</p>
    <input type="text" asp-for="Author" alt="Author" required="required">

    <p>Genre</p>
    <input type="text" asp-for="Genre" alt="Genre" required="required">

    <p>Number of Copies</p>
    <input type="number" asp-for="NumberOfCopies" alt="Number of Copies" required="required">

    <input asp-for="Id" value="@Model.Id" alt="Id" type="hidden" />

    <button type="submit">Edit Book</button>
</form>

<form method="post" asp-controller="Books" asp-action="DeleteBook">
    <input asp-for="Id" value="@Model.Id" alt="Id" type="hidden" />
    <br />
    <h4>Delete book? (Warning: permanent)</h4>
    <br />
    <button type="submit">DELETE BOOK</button>
</form>

<a href="/books/all">Go back</a>